// .container{

// }

.about{
    padding: 20vh 0 10vh 0;

    color: #999999;
    font-family: 'Amatic SC';
    font-size: 1.5rem;
    text-align: center;
}

.bonapetit{
    color: rgb(245, 82, 82);
    font-size: 4rem;
    font-family: 'Satisfy';
    text-align: center;
    cursor: default;

}