.bonapetit {
  color: rgb(245, 82, 82);
  font-size: 4rem;
  font-family: "Satisfy";
  text-align: center;
  cursor: default;
}

@media (max-width: 550px) {
  .bonapetit {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
}
