.container{
    text-align: center;
    width: 70%;
    margin: 5rem auto;
    cursor: default;
}

.item{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: #666666 dotted 1px;
    font-family: 'Karla';
    transition: all 0.1s ease 0s;
}

.item:hover{
    transform: scale(1.005, 1);
    .price{
        color: red;
    }
}

.food{
    text-align: left;
    padding: 0.5rem 0;
}

.description{
    font-size: 0.8rem;
    color: #666666;
}

.price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}