.contact-div{
    margin-top: 10vh;
    text-align: center;
    cursor: default;

    div {
        font-size: 1.7rem;
        font-weight: bold;
        color: #333333;
        padding: 0.2rem 1rem;
        font-family: 'Amatic SC';
        a{
            text-decoration: none;
            color: slategray;
            font-size: 1.3rem;
        }
    }

    .font{
        font-family: 'Satisfy';
        font-size: 2.3rem;
        padding-bottom: 1.3rem;

    }

    .padding{
        padding-bottom: 3rem;
        a:hover{
            color: red;
        }
    }

    .color{
        color: slategray;
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .small {
        font-size: 0.5rem;
        color: gray;
    }

    .soc{
        // line-height: 5rem;
        margin: 1.5rem 1rem 2rem 1rem;
        color: #666666;
        padding: 0 1rem;
        display: inline-block;
        transform: scale(1.5, 1.5);
        transition: all 0.3s ease 0s;

    }
    
    .soc:hover{
        color: #333333;
        transform: scale(2.5, 2.5);
        
    }

}



@media(max-width:550px) {
    .contact-div{
        div {
            font-size: 1.4rem;
        }
        .font{
            display: none;
        }
        margin: 0;
        .padding{
            padding: 1rem;
        }
    }
}
