.footer{
    background-color: whitesmoke;
    color: #333333;
    text-align: center;

    width: 100%;
    font-size: 0.8rem;
    font-family: 'Karla';

    margin-top: 3rem;
    cursor: default;

}
