.enjoy{
    padding-top: 10vh;
    color: rgb(245, 82, 82);
    font-size: 2rem;
    font-family: 'Satisfy';
    text-align: center;
    cursor: default;
}

.padding{
    padding-top: 15vh;
    color: rgb(245, 82, 82);
    font-size: 2.5rem;
    font-family: 'Satisfy';
    text-align: center;
    cursor: default;

}