.container {
    text-align: center;
    font-family: 'Amatic SC';
    padding-top: 12vh;

    h1{
        font-size: 3rem;
        font-family: 'Satisfy';
        color: rgb(245, 82, 82);
    }

    .items {
        padding-top: 3vh;
        font-size: 1.6rem;
        font-weight: bold;
        color: #333333;
        letter-spacing: 3px;

        div{
            padding: 0.4rem;
        }
    }

}

.price {
    margin-top: 1rem;
    color: #000000;
}

.update {
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
    letter-spacing: 0;
}

@media(max-width:550px) {
    .container{
        padding-top: 1rem;
        h1 {
            font-size: 2.5rem;
        }
        .items{
            padding: 1rem;
            font-size: 1.4rem;
        }
    }
}

